h2 {
  color: rgb(50, 122, 32);;
  text-align: center;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.products a {
  color: #062b0e;
  text-decoration: none;
  text-align: center;
  background-color: #bef0af;
  margin: 0.5em;
  padding: 0.5em;
  height: 1em;
  border-radius: 2px;
  display: inline-block;
  width: 10%;
}

.products a:hover {
  color: #bef0af;
  background-color: #062b0e;
}

.products a:active {
  background-color: #062b0e;
  color: #bef0af;
}

.products table,
td,
th {
  text-align: center;
  border: 1px solid #ddd;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.products table {
  width: 50%;
}

.products th {
  padding: 2%;
  background-color: #062b0e;
  color: white;
}

tr:nth-child(even) {
  background-color: #edf5ed;
}

p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}

